:root{
    --auxiliar: rgb(145, 193, 168);
    --amarillo: rgb(254, 199, 134);
    --texto: rgb(24, 87, 70);
    
}

*{
    color: black;
    font-family: 'Lato', sans-serif; 
}

body, html {
  width: 100%;
  height: 100%;
}
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: scroll-left 5S linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  margin-right: 2rem; /* Espaciado entre ítems */
}

/* Animación suave a la izquierda */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bg-maceta {
    background-image: url('../assets//footer.png');
    background-position: center bottom -100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-primary-1{
    background: linear-gradient(to top, #B8E0FF 20%, #39A8FF 100%);

}

.bg-secondary-1{
    background-color: #BEF1D6;
}

.bg-auxiliar-1{
    background-color: var(--auxiliar);
}

.bg-amarillo-1{
    background-color: var(--amarillo);
}
.bg-texto-1{
    background-color: var(--texto);
}


.custom-table{
    background-color: var(--extra) !important;
    border-color:  var(--auxiliar);
    border-radius: 16px;
    overflow: hidden;
}

.custom-table td, .custom-table th {
    background-color: var(--extra) !important;
    border-color:  var(--auxiliar);
    color:  rgb(24, 87, 70);
    font-size: 16px;
    padding: .8rem .5rem;
}

.txt-bienvenida{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: bolder;
    line-height: 100%;
    color: #2C3B33;
}

.slogan{
    font-style: italic; 
    font-size: 25px;
    line-height: 30px;
}

.texto-carrusel{
    font-size: 22px;
    font-family: 'Lato'; 
}

.btn-comienza{
    font-size: 16px;
    line-height: 100%;
}

.txt-login{
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
}

.registro{
    font-size: 22px;
    padding: .5rem;
    margin: 0;
    font-weight: bold;
}

