@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #E8E8E8;
    font-size: 8px;
    line-height: 30px;
}

.container {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background-color: #E8E8E8;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 19px 0;
    height: 97px;
}

.back-button,
.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.back-icon,
.edit-icon {
    width: 25px;
    height: 25px;
}

.edit-icon {
    width: 22.81px;
    height: 22.81px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #292929;
    text-align: center;
    width: 242px;
}

.plant-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

.plant-image-container {
    width: 150px;
    height: 150px;
}

.plant-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plant-name {
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #888888;
    text-align: center;
    margin-top: 5px;
}

.conditions-card,
.history-card {
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 0 45px;
}

.conditions-card {
    height: 90px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.history-card {
    width: 300px;
    height: 291px;
    margin-bottom: 65px;
}

.card-header {
    background: #E7EFE4;
    height: 45px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.42px;
    color: #888888;
    text-align: center;
}

.conditions-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    padding: 0 18px;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-icon {
    width: 25px;
    height: 25px;
}

.condition-value {
    font-size: 15px;
    letter-spacing: 0.45px;
    color: #888888;
}

.header-icon {
    width: 25px;
    height: 25px;
}

.history-data {
    display: flex;
    flex-direction: column;
    background: #E7EFE4;
}

.data-row-header, .data-row-alternate, .data-row {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 13px;
}

.data-row-header {
    background: #FFFFFF;
}

.data-row:last-child, .data-row-header:last-child, .data-row-alternate:last-child {
    border-radius: 0px 0px 10px 0px;
}

.date-cell,
.riego-cell,
.water-cell,
.sun-cell,
.temperatura-cell {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.24px;
    color: #888;
    line-height: 10px;
}

.date-cell:first-child,
.riego-cell:first-child,
.water-cell:first-child,
.sun-cell:first-child,
.temperatura-cell:first-child {
    flex: 1.5;
    padding-left: 0;
}

.date-cell {
    flex: 1.8;
    margin-right: 5px;
}

.water-cell,
.sun-cell,
.temperatura-cell {
    flex: 0.6;
}

.more-button-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.more-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.more-icon {
    width: 23px;
    height: 23px;
}

@media (max-width: 390px) {
    .container {
        width: 100%;
    }

    .conditions-card,
    .history-card {
        margin: 0 20px;
    }

    .conditions-card {
        margin-top: 47px;
        margin-bottom: 48px;
    }
}