@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    width: 390px;
    height: 844px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
}

.back-icon {
    margin-left: 19px;
    margin-top: 42px;
}

.title-agregar-maceta {
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    width: 201px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #292929;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.agregar-imagen-btn {
    margin-top: 12px;
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #417357;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.label-apodo {
    margin-top: 53px;
    margin-left: 46px;
}


.label-apodo,
.label-codigo {
    width: 298px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #696969;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.54px;
}

.apodo-plant {
    margin-left: 46px;
    margin-top: 13px;
}

.apodo-plant,
.codigo-maceta {
    width: 298px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 45px;
    border: 2px solid #AFC3A8;
    background: #FFF;
    display: flex;
}

.apodo-plant-icon,
.codigo-maceta-icon {
    margin-left: 29px;
    margin-top: 18px;
}

.apodo-plant-icon,
.codigo-maceta-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.apodo-plant-text,
.codigo-maceta-text {
    margin-left: 20px;
    margin-top: 24px;
}

.apodo-plant-text,
.codigo-maceta-text {
    display: flex;
    width: 199px;
    height: 13px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #C9C9C9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.codigo {
    margin-top: 26px;
    margin-left: 46px;
}

.codigo-maceta {
    margin-top: 13px;
}

.guardar-maceta-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #3D624A;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 25px;
}

.guardar-potai {
    width: 298px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #447B51;
    margin-left: 46px;
    margin-top: 48px;
    cursor: pointer;
}

.guardar-potai-text {
    color: #EDF3E5;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 14px;
}

/* Estilos para la imagen de preview */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 62px;
}

.img-default {
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 75px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #AFC3A8;
    transition: border-color 0.3s;
}

.img-default:hover {
    border-color: #447B51;
}

.agregar-imagen-btn {
    cursor: pointer;
    transition: color 0.3s;
}

.agregar-imagen-btn:hover {
    color: #2C5040;
}

/* Estilos para la planta detectada */
.plant-detected {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: #E8F5E9;
    border-radius: 10px;
    margin-left: 46px;
    margin-right: 46px;
}

.plant-detected-label {
    color: #417357;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.plant-detected-name {
    color: #24543B;
    font-family: Lato;
    font-size: 22px;
    font-weight: 800;
    text-transform: capitalize;
}

/* Loading spinner */
.loading-recognition {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: #FFF9C4;
    border-radius: 10px;
    margin-left: 46px;
    margin-right: 46px;
    color: #827717;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
}

/* Error message */
.error-recognition {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: #FFEBEE;
    border-radius: 10px;
    margin-left: 46px;
    margin-right: 46px;
    color: #C62828;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
}

/* Input fields */
.input-field-plant {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.48px;
    margin-left: 20px;
    margin-right: 20px;
}

.input-field-plant::placeholder {
    color: #C9C9C9;
}