@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    width: 390px;
    height: 844px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

.potai-icon {
    width: 54px;
    height: 60px;
    flex-shrink: 0;
    aspect-ratio: 9/10;
    margin-left: 171px;
    margin-top: 107px;
}

.title-potai {
    display: flex;
    width: 124px;
    height: 41px;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;
    margin-left: 133px;
    flex-shrink: 0;
    color: #24543B;
    text-align: center;
    font-family: Lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nombres,
.correo,
.password {
    width: 298px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 45px;
    border: 2px solid #AFC3A8;
    background: #FFF;
    margin-left: 46px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 16px;
    box-sizing: border-box;
}

.nombres {
    margin-top: 72px;
}

.correo,
.password {
    margin-top: 25px;
}

.person-text,
.correo-text,
.password-text {
    display: flex;
    height: 13px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #C9C9C9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.input-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.input-field::placeholder {
    color: #C9C9C9;
}

.error-message {
    width: 298px;
    margin-left: 46px;
    margin-top: 15px;
    padding: 10px;
    background-color: #ffebee;
    color: #c62828;
    border-radius: 8px;
    font-family: Lato;
    font-size: 14px;
    text-align: center;
}

.correo-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.tyc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 46px;
    margin-top: 25px;
}

#tyc-checkbox {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 1px;
    background: #FFF;
}

#tyc-label {
    display: flex;
    width: 263px;
    height: 37px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #C9C9C9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.registrarse {
    width: 298px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #447B51;
    margin-left: 46px;
    margin-top: 48px;
    cursor: pointer;
}

.registrarse-text {
    color: #EDF3E5;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 14px;
}

.ya-tienes-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #3D624A;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 25px;
    cursor: pointer;
}